<!-- As a developer we need to learn particular stuff:
1.Data Binding
2.Change Tracking
3.Validation
4.Visual feedback
5.Error Messages
6.Form Submission -->

<!-- Angular Form:
1.Template is used to collect user data
2.Component class handles data binding
3.Collected data is send to server through a service
WE HAVE TWO APPROACHES TO HANDLE ABOVE SENARIO
1.Template Driven Forms
2.Reactive Forms or model driven forms

**In template driven forms most of the code is written in component template
**In reactive forms most of the code is written in component class-->
