<!-- As a developer we need to learn particular stuff:
1.Data Binding
2.Change Tracking
3.Validation
4.Visual feedback
5.Error Messages
6.Form Submission -->

<!-- Angular Form:
1.Template is used to collect user data
2.Component class handles data binding
3.Collected data is send to server through a service
WE HAVE TWO APPROACHES TO HANDLE ABOVE SENARIO
1.Template Driven Forms
2.Reactive Forms or model driven forms

**In template driven forms most of the code is written in component template
**In reactive forms most of the code is written in component class-->

<!-- 
    First inorder to use we need to import forms module
    import forms module and add to imports array.
-->

<!-- Anytime we are using a 'form' tag angular attachs an ngForm directive to the
form tag which gives us valuable information about that predeclared form -->

<!-- we add a 'template reference variable' to form tag
It exports itself as ngForm and by 
assigning it to a reference variable we have a reference
 to the directive itself  -->

 <!-- we tell angular which input elements are to be considered using ngModel.not
only to input element but also to any element we wish -->

<!-- ngModelGroup directive is used to group certain values together
example:address -->
