<!-- In TDF 
1.Must of code is in the Html template 
2.We relie on two way data binding using ngModel

**we don't have to keep track of Input values and react to change in the input
field value--angular takes care of it using ngModel directive
as a result we have bulky html code and minimal component code

Drawback of the TDF code is 
1.Unit testing
Form Validation logic cannot be unit tested
only end to end test in browser 
2.Handling complex forms 
as we add more and more validations to a field or when we start
adding complex cross field validations the redability of form decreases
to a great exitent-->
