<!-- we are rendering our x component which is child of this component here
again we map this to another targeted function which hold data from child component
we write functionality to this targeted function in .ts file of this component
 -->
<app-x  (x_Event)="parentFun($event)"></app-x>
<!-- we are mapping our x_Obj to a new property and we should give some
functionality to it in child component which is going to take the data from
parent -->
<app-y [y_data]="x_Obj" ></app-y>
<app-view-encapsulation></app-view-encapsulation>

<app-k (k_event)="k_parent_fun($event)"></app-k>

<app-l [l_data]="k_obj"></app-l>
