<!--Observable:
*A data Source
*It is an object which is imported from rxjs
*Observable,stream line(middle thing),and an observer--Observable pattern 
*we will get to know what sort of data is which is coming from observable to observer 
 will be known in stream line(middle)
*observer is an subscribe method.we write our code in observer.
*we handle our code from observer in subscribe function
*subscribe method have 3 way of handling data packages
*1.handle data
 2.handle errors
 3.handle completion
*-->
