
<!-- according to tdd every input field is a controller
we give name and ngModel for every input inorder to make angular understand it as an controller -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <!-- when we are retriving values from the form, that form should be in key value pairs(object)
so we have to represent this as a ngForm(package) 

ngForm is an object it takes all values of the form in key value pairs
in the below example #myForm is local reference to the Form
-->
<!-- Inorder to submit form we map our logic to ngSubmit -->
      <form #myForm (ngSubmit)="OnSubmit(myForm)">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="UserName" class="form-control" ngModel>
          </div>
          <button class="btn btn-success" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" name="email" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" name="select" class="form-control" ngModel>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="submitted">
  <h2 >Your  Submitted Data</h2>
  <ul>
    <li *ngFor="let key of KeysOfMyform" style="list-style: none">{{key}}:{{values[key]}}</li>
  </ul>
</div>
