<!-- PARENT TO CHILD COMMUNICATION -->
<h2>Custom Property Binding</h2>
<p>{{message_fromParent}}</p>
<!-- CHILD TO PARENT COMMUNICATION -->
<h2>-------------------Parent to Child---------------------</h2>
<button class="btn btn-primary" (click)="createEvent($event)">Parent2Child</button>
<br>
<br>
<!-- Communication between child and parent 
    ALSO CALLED AS " CUSTOM EVENT BINDING"
1.child.component.html:
<button class='' (click)="createEvent($event)">ClickMe</button>
2.childcomponent.ts:
@Output decorator is used to maintain communication from child to 
parent
@Output event_name=new EventEmitter<generictype>(); 
    eventemitter is needed to import from @angular/core
createEvent(event){
    this.event_name.emit({
        name:"yashu";
    })
}
**eventEmitter is used to create new event
**emit() method is used to write logic when there event is triggered

3.app.component.html:
Implementation in newly created event in it's specified component selector
<app-child (eventName)="triggredEvent($event)"></app-child>

4.app.component.ts:
variable=""(to hold data)
triggredEvent(e){
    this.data=e.name;
}

5.app.component.html:
<p>{{variable}}</p>

-->
<h2>----------------Child to Parent------------------</h2>

<button class="btn btn-primary"  (click)="createEvent($event)">Child2Parent</button>
<h2>----------------Child to Parent--Object iteration----------------</h2>
<button class="btn btn-primary" (click)="createObjEvent($event)">ObjClick</button>