<!-- EVENT BINDINGS METHODS -->
<!-- User actions such as clicking links,pushing a button and entering text raise
DOM events.We bind these events to component event handler using the angular
event binding syntax...to respond to any DOM events-->

<!-- Event Binding--Two way communication using inputevent 1st way-->
<!-- 
1.Many DOM events are triggred by user input.Binding to these events provides
a way to get input from the user.
2.To bind to a DOM event, surround the DOM event name in parentheses and
assign a quoted template statement to it. -->

<!-- example.1 -->
<!-- When the user clicks button ,Angular calls the clickMe method
from home.component.ts -->
<button type="button" class="btn btn-primary" (click)="clickMe($event)">PressMe!</button>
<!-- The following code listens to the keyup event and passes the entire event 
payload ($event) to the component event handler. -->
<p>{{myInput}}</p>
<input type="text" class="form-control" (input)="inputField($event)">
<p>{{name}}</p>

<!-- $event object
1.The properties of an $event object vary depending on the type of DOM event.
2.All standard DOM event objects have a target property, a reference to the
element that raised the event.
3.In this case, target refers to the <input> element and event.target.value 
returns the current contents of that element. -->
<h2>------------------------------------</h2>
<!-- Event Binding 2nd way Getting user input from a template reference variable-->
<!-- 
1.These variables provide direct access to an element from within the template. 
2.To declare a template reference variable, precede an identifier with a hash
 (or pound) character (#).-->
 <!-- <form action="/action_page.php"> -->
 <input class="form-control" value="example" #box (keyup)="0">
 <p>{{box.value}}</p>
<!-- </form> -->

<!-- <form action="/action_page.php"> -->
<input type="text" class="form-control" value="example2" #box2 (keyup)="keyOn(box2.value)">
<p>{{vals}}</p>
<!-- </form> -->

<!-- <form action="/action_page.php"> -->
<input type="text" class="form-control" #ref>
<button class="btn btn-primary" (click)="getData(ref)">ClickMe</button>
<!-- </form> -->
<h2>-------------------------------------</h2>
<!-- NgModel(used for two way data binding...) -->
<!-- <hr> -->
<!-- <hr> -->
<!-- <form action="/action_page.php"> -->
<input type="text" class="form-control"  value="Model" [(ngModel)]="Chai">
<p>{{Chai}}</p>
<!-- </form> -->

<!-- <form action="/action_page.php">
    <input [(ngModel)]="name1" #ctrl="ngModel" required>
    <p>Value:{{name1}}</p>
    <p>Valid:{{ctrl.valid}}</p>
    <button (click)="setValue()">Set Value</button>
</form> -->


<h2>-------------------------------------</h2>

<!-- @ViewChild -->
<!-- here viewData is my reference variable -->
<input type="text" class="form-control" #viewData>
<button type="button" class="btn btn-primary" (click)="onClick($event)">ClickMe!</button>
<p>{{viewDATA}}</p>
<h2>-------------------------------------</h2>
<input type="text" class="form-control" #viewChildInput>
<button type="button" class="btn btn-primary" (click)="dispalyViewChildContent($event)">PressMe</button>
<p>{{displayNativeElementValue}}</p>
