<div>
    <app-home></app-home>  
</div>
<div>
    <app-home></app-home>
</div>
<div>
    <app-home2 [childDataProperty]="parentData"></app-home2>
</div>
<div>
    <app-home3 [child3Property]="parentData3"></app-home3>
</div>
<!-- <app-home4 (newCustomizedEvent)="CreateEvent($event)" (newCustomizedEvent2)="Event2($event)" (gettingObjEvent)="objEvent($event)"></app-home4> -->
<!-- <p>{{getData}}</p> -->
<!-- <p *ngFor='let smily of e1'>{{smily}}</p> -->
<div>
    <app-y (childy)="parentY($event)"></app-y>
</div>
<!-- <p>{{parenty}}</p> -->
<div>
<app-x [childx]="parenty"></app-x>
</div>
<!-- <div>
    <app-a (childA)="parentA($event)"></app-a>
</div> -->